.GalleryItem {
  flex: 1 0 21%; /* explanation below */
  margin-top: 10px;
  margin-bottom: 40px;
  max-height: 250px;
  box-sizing: border-box;
}
.GalleryItemImg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.GalleryItemTitle {
  text-align: center;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

.GallerySpinner {
  width: 10rem;
  height: 10rem;
  margin-top: 50px;
}
